/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    /* Other CSS properties */
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    position: relative;
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    background-image: url('../static/images/rainbow.jpg'); /* Light mode image */
    
    /* Set the sidebar color variable */
    --sidebar-color: #c5ac95;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --sidebar-color: #647885;
    --toggle-color: #fff;
    --text-color: #ccc;
    background-image: url('../static/images/Dark.jpg'); /* Dark mode image */
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}


.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    /*border-radius: 6px;
    background-color:#c5ac95;*/
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

.search-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 15px;
    backdrop-filter: blur(10px); 
}


.search-container .search-box.transparent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.search-container .search-box.transparent .icon {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.search-container .search-box.transparent input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.search-container .search-box.transparent input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-container .search-box.transparent input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.search-container .search-box.transparent .btn {
    margin-left: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search-container .search-box.transparent .btn:hover {
    background-color: var(--primary-color-light);
}

/* Styles for the toggle button container */
.button-container {
    position: fixed;
    top: 350px;
    right: 13%; /* Increase the right value to move buttons to the left */
    z-index: 998;
    display: flex;
}

.button-container .search-button {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    margin-right: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-container .search-button:hover {
    background: rgba(0, 0, 0, 0.6); /* Darken the background on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}


.expanded-buttons {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 999;
    padding: 5px;
}

.expanded-buttons.show {
    display: flex;
}

.expanded-buttons button {
    width: 100%;
    margin: 2px 0;
}

/* Add this in your style.css or within a <style> tag in the <head> section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2; /* Customize the background color */
    position: relative; /* To make positioning work */
}

.auth-buttons {
    display: flex; /* Display buttons side by side */
    align-items: center; /* Center vertically */
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Vertically center the buttons */
    left: 1280px; /* Adjust the right spacing as needed */
}

.auth-button {
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.4); /* Darken the background on hover */
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px; /* Add margin between buttons */
}

.auth-button:first-child {
    margin-left: 0; /* No margin for the first button */
}

.auth-button:hover {
    background: rgba(0, 0, 0, 0.6); /* Darken the background on hover */
}

/* Add borders to navigation bar buttons */
/* Add square borders to navigation bar buttons */
.sidebar .menu-links .nav-link {
    display: flex;
    align-items: center;
    padding: 10px; /* Adjust the padding to make the buttons square */
    border: 1px solid var(--primary-color-light); /* Add a border to create the square appearance */
    border-radius: 12px; /* Rounded border corners */
    transition: var(--tran-03);
}

.sidebar .menu-links .nav-link:hover {
    border-color: var(--primary-color-light); /* Change the border color on hover */
}

.no-underline {
    text-decoration: none;
}


/* Add styling for the search results container */
#searchResults {
    display: none; /* Hide by default */
    /* background: rgba(255, 255, 255, 0.1); Semi-transparent white background */
    padding: 10px;
    width: 50%;
    z-index: 999;
    transition: display 0.3s; /* Add a smooth transition effect */
    margin-top: 10px; /* Adjust margin top as needed */
    position: relative; /* Use relative positioning */
}

/* Display the search results when the #searchResults div has content */
#searchResults:empty {
    display: none;
}
#searchResults:not(:empty) {
    display: block;
    position: absolute; 
    top: 52%; 
    left: 50%;
    transform: translateX(-50%);
}





