<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- Add this line to include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!--<title>Dashboard Sidebar Menu</title>--> 
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{ url_for('static',filename='images/logo.png') }}" alt="img">
                </span>
        
                <div class="text logo-text">
                    <span class="name">Codinglab</span>
                </div>
            </div>
        
            <i class='bx bx-chevron-right toggle'></i>

            <div class="auth-buttons">
                <a href="{{ url_for('login') }}" class="auth-button">Login with Google</a>
            </div>
        </header>
    
        <div class="menu-bar">
            <div class="menu">               

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-check icon' ></i>
                            <span class="text nav-text">Prod</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon' ></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>
                    
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notifications</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-comment icon'></i>
                            <span class="text nav-text">Feedback</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-help-circle icon' ></i>
                            <span class="text nav-text">Help</span>
                        </a>
                    </li>    
                </ul>
            </div>


            <div class="bottom-content">
                <ul>
                    <li class="mode">
                        <div class="sun-moon">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark mode</span>
            
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </ul>
            </div>
            

    </nav>

    <form id="searchform" action="{{ url_for('save_search') }}" method="post">
        <div class="search-container">
            <div class="search-box transparent">
                <i class='bx bx-search icon'></i>
                <input type="text" name="search" placeholder="Search...">
            </div>
        </div>
        <div class="button-container">
            <input class="btn search-button no-underline" type="submit" value="Search">
            <button class="btn search-button no-underline" id="expand-button">+</button>
            <div class="expanded-buttons" id="expanded-buttons">
                <input class="btn search-button no-underline" type="button" id="saveButton" value="Save" onclick="saveAction()">
                <input class="btn search-button no-underline" type="button" id="resetButton" value="Reset" onclick="resetWebsite()">
                <input class="btn search-button no-underline" type="button" id="removeButton" value="Remove" onclick="removeSearch()">
                <a class="no-underline" href="../SearchTool.xlsm" download>Download Excel</a>
            </div>
        </div>
         
        <input type="hidden" id="resultsInput" name="results" value="">
        <input type="hidden" name="query" id="queryInput">
        <input type="hidden" name="results" id="resultsInput">
    </form>
    
    
    <div id="searchResults"></div>
    
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const body = document.querySelector('body'),
                sidebar = body.querySelector('nav'),
                toggle = body.querySelector(".toggle"),
                modeSwitch = body.querySelector(".toggle-switch"),
                modeText = body.querySelector(".mode-text"),
                expandButton = body.querySelector("#expand-button"),
                expandedButtons = body.querySelector("#expanded-buttons");

            toggle.addEventListener("click", () => {
                sidebar.classList.toggle("close");
            });

            modeSwitch.addEventListener("click", () => {
                body.classList.toggle("dark");
                if (body.classList.contains("dark")) {
                    modeText.innerText = "Light mode";
                } else {
                    modeText.innerText = "Dark mode";
                }
            });

            expandButton.addEventListener("click", (event) => {
                event.preventDefault(); 
                expandedButtons.classList.toggle("show");
                if (expandButton.textContent === "+") {
                    expandButton.textContent = "-";
                } else {
                    expandButton.textContent = "+";
                }
            });

            document.getElementById("saveButton").addEventListener("click", function () {
                saveAction();
            });

            document.getElementById("resetButton").addEventListener("click", function () {
                resetWebsite();
            });

            document.getElementById("removeButton").addEventListener("click", function () {
                removeSearch();
            });

            document.getElementById("searchform").addEventListener("submit", function(event) {
                event.preventDefault();

                var query = document.getElementsByName("search")[0].value;

                // Send the search query to the server using a POST request
                fetch("/perform_search", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    body: "search=" + encodeURIComponent(query),
                })
                .then(function(response) {
                    return response.text();
                })
                .then(function(results) {
                    displayResults(results);
                })
                .catch(function(error) {
                    console.error(error);
                });
            });



            function saveAction() {
                var query = document.getElementsByName("search")[0].value;
                var results = document.getElementById("searchResults").innerHTML;

                document.getElementById("queryInput").value = query;
                document.getElementById("resultsInput").value = results;

                // Change the method to POST and submit the form
                document.getElementById("searchform").method = "post";
                document.getElementById("searchform").submit();
            }


            function resetWebsite() {
                fetch("/reset", {
                    method: "POST",
                })
                .then(function(response) {
                    // Reload the page to clear all data
                    window.location.reload();
                })
                .catch(function(error) {
                    console.error(error);
                });
            }

            function removeSearch() {
                var query = document.getElementsByName("search")[0].value;

                // Assuming you have an element with the ID "queryInput" in your HTML
                document.getElementById("queryInput").value = query;

                fetch("/remove_search", {
                    method: "POST",
                    body: new URLSearchParams({
                        "query": query
                    })
                })
                .then(function(response) {
                    return response.text();
                })
                .then(function(message) {
                    var successMessage = document.getElementById("successMessage");
                    successMessage.style.display = "block";
                    successMessage.innerText = message;

                    // Reload the page after removal
                    window.location.reload();
                })
                .catch(function(error) {
                    console.error(error);
                });
            }

            function displayResults(results) {
                var resultsContainer = document.getElementById("searchResults");
                resultsContainer.innerHTML = ""; // Clear existing results

                var resultsArray = results.split(",");
                for (var i = 0; i < resultsArray.length; i++) {
                    var result = resultsArray[i].trim();
                    var resultElement = document.createElement("div");
                    resultElement.innerText = result; // Use innerText instead of textContent
                    resultsContainer.appendChild(resultElement);
                }
            }
        });
    </script>  
</body>
</html>
